<!-- For the Sloth King's eyes only -->

<% if current_user && current_user.username == "Sloth King" %>
  <h1>Users</h1>

  <table>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user %></td>
      <td>[<%= link_to 'Edit', edit_user_path(user) %>]</td>
      <td>[<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
    </tr>
  <% end %>
<% else %>
  You do not have permission to view this page.
<% end %>