<p id="notice"><%= notice %></p>

<p>Shopping Cart</p>

<% @order.products.each do |product| %>

    <ul>
      <li><%= link_to "#{product.name}", product_path(product) %>

      </li>
  </ul>
  <% end %>

