body {
  font-family: Helvetica;
  height:100%;
  min-height: 900px;
}

ul {
  list-style-type: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:visited {
  color: teal;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  color: black;
  text-align: center;
}

#columns {
  background: LightGrey;
  min-height: 900px;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
  min-height: 900px;
}

#nav {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
}

#user_nav {
  text-align: right;
  font-size: 12px;
}

#header td {
  vertical-align: bottom;
  padding-right: 15px;
}

#slogan {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 15px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

#product_description {
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px;
  line-height: 25px;
  font-size: 15px;
}

#edit_destroy {
  font-size: 12px;
}

#user_table td {
  padding-right: 40px;
  vertical-align: top;
}

#my_products {
  width: 50%;
}