<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>


<strong>Products:</strong>
  <ul>
    <% @category.products.each do |product| %>
      <li>   
        <%= link_to "#{product.name}", product_path(product) %>
        
      </li>
    <%end%>
  </ul>
</p>

<%= link_to 'Back', categories_path %>